In [1]:
dataset_id = "college2_staging2"

In [3]:
!bq --location=US  mk --dataset {dataset_id}

Dataset 'sound-cider-252823:college2_staging2' successfully created.

## Loading CSV files from Cloud Storage

In [10]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Current_Student \
'gs://college_dataset_utcs327e/rawData/Current_Students.csv'

Waiting on bqjob_r6f5acfd1bdc9efca_0000016e5d23c245_1 ... (3s) Current status: DONE

In [22]:
%%bigquery
select count(*) from college2_staging2.Current_Student

   f0_
0   11

In [20]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.New_Student \
'gs://college_dataset_utcs327e/rawData/New_Students.csv'

Waiting on bqjob_r7d4453bdd032d0d4_0000016e5d399fd1_1 ... (2s) Current status: DONE

In [23]:
%%bigquery
select count(*) from college2_staging2.New_Student

   f0_
0    7

## Creating Modeled Tables

In [18]:
modeled_dataset_id = "college2_staging2"

In [19]:
!bq --location=US mk --dataset {modeled_daetaset_id}

BigQuery error in mk operation: Invalid dataset ID "{modeled_daetaset_id}".
Dataset IDs must be alphanumeric (plus underscores and dashes) and must be at
most 1024 characters long.

In [ ]:
%%bigquery
create table college2_modeled.Student as 
select distinct sid, fname. lname, dob
from college2_staging.Current_Student
union distinct
select distinct sid, fname, lnmae, cast(dob as string) as dob
from college2_staging.New_Student

In [ ]:
%%bigquery
select count(*_)

In [ ]:
%%bigquery
create  or replace table college2_modeled.Takes as 
select distinct sid, cno, grade
from college2_staging.Current_Student
where sid is not null
and cno is not null